<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite" parallel="tests">
	<test name="Test">
		<classes>
			<!-- <class name="a.b.ExtractingTextFromImage"/> -->
			<class name="a.b.test1"/>
			<class name="a.b.test2"/>
			<!-- <class name="a.b.Application"/> -->
		</classes>
	</test> <!-- Test -->
</suite> <!-- Suite -->
